/* Register.css */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
     /* border: 1px solid red; */
     box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #006a7f;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
}

.form-container input:focus {
    border-color: #e74c3c;
}

.form-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #006a7f;
}



/* Signin.css */

.signin-container { /* Use a different class name for the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* border: 1px solid red; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.signin-container > input {
    width: 100%;
    padding: 15px; 
    margin: 10px 0;
    border: 2px solid #006a7f; 
    border-radius: 10px; 
    font-size: 16px; 
    outline: none; 
    transition: border-color 0.3s ease; 
  
    box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
  }
  
 
  .signin-container > input:focus {
    border-color: #e74c3c; 
  }
  

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006a7f;
}


/* Media query for medium-sized screens */
@media screen and (max-width: 1024px) {
    .form-container {
        width: 90%; 
    }
    .form-container input,
    .form-container button {
        width: 70%; 
    }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .form-container {
        width: 100%; 
    }
    .form-container input,
    .form-container button {
        width: 90%; 
    }
}