/* Navbar.css */

.navbar-container {
    background-color: #006a7f;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
   
    
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    /* border: 1px solid red; */
    
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  

  .navbar-register {
    background-color: #009688; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-align: center;
    margin-right: 20px; 
    display: inline-block;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}


.navbar-register:hover {
    background-color: #00786c;
}



.spanName {
  font-weight: bold;
  color: yellow; 
  font-size: 25px; 
}



/* media Query */


/* Media query for medium-sized screens (e.g., tablets) */
@media screen and (max-width: 1024px) {
  /* Adjust styles for medium screens here */

  /* For example, you can reduce padding or font size */
  .navbar-container {
    padding: 8px;
    font-size: 18px;
  }

  /* Modify styles for navbar links and register button */
  .navbar-link {
    font-size: 18px;
  }

  .navbar-register {
    padding: 8px 16px;
    font-size: 18px;
  }
}


/* Media query for medium-sized screens */
@media screen and (max-width: 1024px) {
  .navbar-container { padding: 8px; font-size: 15px; }
  .navbar-link { font-size: 15px; }
  .navbar-register { padding: 8px 16px; font-size: 15px; }
}

/* Media query for small screens  */
@media screen and (max-width: 768px) {
  .navbar-container { padding: 6px; font-size: 15px; }
  .navbar-link { font-size: 15px; }
  .navbar-register { padding: 6px 12px; font-size: 15px; }
}
